table {
	border-collapse: collapse;
	position: relative;
	width: 100%;
	font-size: 24px;
}

label{
   width: 100%;
   padding: 12px;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 10px;
}

th, td {
	padding: 6px;
	text-align: left;
	border-bottom: 1px solid #DDD;
}

th {
	background: white;
	position: sticky;
	top: 0;
}

tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.2);
}

tr:hover {
	background: white;
}

div.nav {
	display: table;
	width: 100%;
	table-layout: fixed;
}

div.nav a {
	display: table-cell;
	text-align: center;
}

a {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

.gen1 {
	background-color: hsla(calc(0 * 255/7), 100%, 50%, 0.2)
}

.gen2 {
	background-color: hsla(calc(1 * 255/7), 100%, 50%, 0.2)
}

.gen3 {
	background-color: hsla(calc(2 * 255/7), 100%, 50%, 0.2)
}

.gen4 {
	background-color: hsla(calc(3 * 255/7), 100%, 50%, 0.2)
}

.gen5 {
	background-color: hsla(calc(4 * 255/7), 100%, 50%, 0.2)
}

.gen6 {
	background-color: hsla(calc(5 * 255/7), 100%, 50%, 0.2)
}

.gen7 {
	background-color: hsla(calc(6 * 255/7), 100%, 50%, 0.2)
}

.Pokemon_stats{
    border: 3px solid #fff;
    padding: 20px;
}

.Pokemon_stats_child{
    width: 45%;
    float: left;
    padding: 20px;
    background-color: lightgreen;
    font-size: 24px;
    text-align: center;
}

.checkbox {
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
}

.login{
    float: right;
    width: 5%;
}