.p_list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

img {
	height: 200px;
}

a {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

.login{
    float: right;
    width: 5%;
}


