<!DOCTYPE html>
<html lang="de">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/registration.css')}}">
<head>
    <title>Create User</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='pika_s.png')}}">
</head>

<body>
<h1>Create User</h1>
<div class="container">
    <form action="" method="post">
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" required>

        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" required>

        <input type="submit" id="Button1" value="Submit">
    </form>
</div>
</body>
</html>