<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>ALL POKÉMON</title>
		<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='pika_s.png')}}">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">

	<!--	<script>-->
	<!--		function changeColor(num) {-->
	<!--			document.getElementById("my-btn " + num).style.backgroundColor = "cyan";-->
	<!--		}-->
	<!--	</script>-->
</head>
<body>
<div class="container">
    <form action="" method="post">
		<label for="number">Pokedex_number</label>
		<input type="number" id="number" name="Number" autocomplete="off" min="0" max="801">

		<br/>

		<label for="id">ID</label>
		<input type="checkbox" id="id" name="ID">

		<label for="name">Name</label>
		<input type="checkbox" id="name" name="Name">

		<label for="type1">Type 1</label>
		<input type="checkbox" id="type1" name="type1">

		<label for="type2">Type 2</label>
		<input type="checkbox" id="type2" name="type2">

		<label for="generation">Generation</label>
		<input type="checkbox" id="generation" name="Generation">

		<label for="abilities">Abilities</label>
		<input type="checkbox" id="abilities" name="Abilities">

		<label for="hp">HP</label>
		<input type="checkbox" id="hp" name="hp">

		<label for="speed">Speed</label>
		<input type="checkbox" id="speed" name="speed">

		<label for="attack">Attack</label>
		<input type="checkbox" id="attack" name="attack">

		<label for="defense">Defense</label>
		<input type="checkbox" id="defense" name="defense">

		<label for="classification">Classification</label>
		<input type="checkbox" id="classification" name="classification">

		<label for="height">Height</label>
		<input type="checkbox" id="height" name="height">

		<label for="weight">Weight</label>
		<input type="checkbox" id="weight" name="weight">

		<label for="legendary">Legendary</label>
		<input type="checkbox" id="legendary" name="legendary">

		<br/>

		<button id="Button1">Search</button>
	</form>
</div>

		<table cellspacing="0">
		<tr>
				{% for name in lable %}
				<th>{{name}}</th>
				{% endfor %}
			</tr>

			{% for pokemon in entries %}

			<tr class="gen{{pokemon[4]}}">
				{% for value in pokemon%}
				<td class="gen{{pokemon[4]}}">
					{% if value == pokemon[1] %}
					<a href="/pokemon/{{pokemon[0]}}" style="">
						{{value}}
					</a>
					{% else %}
					{{value}}
					{% endif %}

				</td>
				{% endfor %}

				<!--		<td>-->
				<!--			<button id="my-btn {{pokemon[0]}}" onclick="changeColor({{pokemon[0]}})"></button>-->
				<!--		</td>-->
			</tr>
			{% endfor %}

		</table>

	</body>
</html>
