<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/user.css')}}">
<head>
	<title>{{user.username}}</title>
</head>
<body>
<h1>{{user.username}}</h1>
<h2>team</h2>
<div id="team" class="p_list">
	{% for pokemon, level in user.team %}
	<a href="/pokemon/{{pokemon.id}}">
		<img src="{{url_for('static', filename=('sprites/{}.png').format(pokemon.id))}}">
		<p>{{pokemon.name}}</p>
		<p>level: {{level}}</p>
	</a>
	{% endfor %}
</div>
<h2>inventory</h2>
<div id="inventory" class="p_list">
	{% for pokemon, level in user.inventory %}
	<a href="/pokemon/{{pokemon.id}}">
		<img src="{{url_for('static', filename=('sprites/{}.png').format(pokemon.id))}}">
		<p>{{pokemon.name}}</p>
		<p>level: {{level}}</p>
	</a>
	{% endfor %}
</div>

</body>
</html>