<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/user.css')}}">
<head>
	<title>{{user.username}}</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='pika_s.png')}}">
</head>
<body>
{% if login != True %}
	<a href="/u/login" class="login">Sign in</a>
	<a href="/u/add" class="login">Sign up</a>
{% else %}
	<p style="float:right; text-align:center;">logged in as <br/> {{user.username}}</p>
{% endif %}
<h1>{{user.username}}</h1>
<h2>team</h2>
<div id="team" class="p_list">
	{% for pokemon, level in user.team %}
	<a href="/pokemon/{{pokemon.id}}">
		<img src="{{url_for('static', filename=('sprites/{}.png').format(pokemon.id))}}">
		<p>{{pokemon.name}}</p>
		<p>level: {{level}}</p>
	</a>
	{% if login == True %}
	<form action="" method="POST">
		<input type="text" id="name" name="name" hidden value="{{pokemon.id}}">
		<input type="text" id="level" name="level" hidden value="{{level}}">
        <button type="submit" id="Button1">Move to inventory</button>
    </form>
	{% else %}
	{% endif %}
	{% endfor %}
</div>
<h2>inventory</h2>
<div id="inventory" class="p_list">
	{% for pokemon, level in user.inventory %}
	<a href="/pokemon/{{pokemon.id}}">
		<img src="{{url_for('static', filename=('sprites/{}.png').format(pokemon.id))}}">
		<p>{{pokemon.name}}</p>
		<p>level: {{level}}</p>
	</a>
	{% if login == True %}
	<form action="" method="POST">
		<input type="text" id="name1" name="name1" hidden value="{{pokemon.id}}">
		<input type="text" id="level1" name="level1" hidden value="{{level}}">
        <button type="submit" id="Button2">Move to team</button>
    </form>
	{% else %}
	{% endif %}
	{% endfor %}
</div>

{% if login == True %}
	<p>Sucessfully loged in</p>
{% else %}
{% endif %}

</body>
</html>